{% extends 'base.html.twig' %}

{% block title %}Offre de castings{% endblock %}

{% block body %}
    <div class="container">
        <div class="container-fluid" id="navbarScroll">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                    aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <form class="row mt-4" method="get">
            <div class="col-3">
                <div class="text-center d-flex flex-column justify-content-center w-75 p-2"
                     style="background-color: white">
                    <h5><b><u>Rechercher un casting</u></b></h5>
                    <p>Domaine</p>
                    <div class="d-flex justify-content-center">
                        <select class="form-select w-100 mb-2" aria-label="Default select example" name="selectDomaine">
                            <option selected value="0">Indifférent</option>
                            {% for domaine in domaines %}
                                {% if categorie == domaine.nom %}
                                    <option selected value="{{ domaine.identifiant }}">{{ domaine.nom }}</option>
                                {% else %}
                                    <option value="{{ domaine.identifiant }}">{{ domaine.nom }}</option>
                                {% endif %}

                            {% endfor %}
                        </select>
                    </div>

                    <p>Contrat</p>
                    <div class="d-flex justify-content-center">
                        <select class="form-select w-100 mb-2" aria-label="Default select example"
                                name="selectTypeContrat">
                            <option selected value="0">Indifférent</option>
                            {% for typeContrat in typeContrats %}
                                <option value="{{ typeContrat.identifiant }}">{{ typeContrat.nomcontrat }}</option>
                            {% endfor %}
                        </select></div>
                    <p>Métier</p>

                    <div class="d-flex justify-content-center">
                        <select class="form-select w-100 mb-2" aria-label="Default select example"
                                name="selectMetier">
                            <option selected value="0">Indifférent</option>
                            {% for metier in metiers %}
                                <option value="{{ metier.identifiant }}">{{ metier.nom }}</option>
                            {% endfor %}
                        </select></div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-outline-primary w-75 mb-2"><i class="bi bi-search"></i>Recherche
                        </button>

                    </div>
                </div>
            </div>
            <div class="col-9 ">
                <div class="d-flex flex-row justify-content-between">
                    <h3 class="m-0 w-50 ">Les castings</h3>


                </div>
                <div class="d-flex justify-content-center">
                    {% if empty == true %}
                        <h4 class="mt-5">Il n'y a pas de casting</h4>
                    {% else %}
                        <div class="d-flex justify-content-around mt-3 w-100 row">

                            {% for offre_casting in offre_castings %}
                                <a class="card col-12"
                                   href="{{ path('show', {'id': offre_casting.identifiant}) }}"
                                   style="width: 30%; align-items: center;margin-bottom: 10px; text-decoration: none; color: black">
                                    <img src="/img/istockphoto-511459774-612x612.jpg" class="card-img-top"
                                         alt="...">
                                    <div class="card-body">
                                        <p class="card-text">{{ offre_casting.nom }}</p>
                                        <p class="card-text">{{ offre_casting.getMetier().getDomaine().nom }}
                                            - {{ offre_casting.datedebut|date("d/m/Y") }}
                                            au {{ offre_casting.datefin|date("d/m/Y") }}</p>

                                    </div>
                                </a>
                            {% endfor %}
                            <div class="d-flex justify-content-center">
                                {{ knp_pagination_render(offre_castings) }}
                                {#                                <ul class="pagination d-flex flex-lg-row align-content-center"> #}
                                {#                                    {% for item in 1..((total / limit)|round(0, 'ceil')) %} #}
                                {#                                        <li class="page-item page-link"> #}
                                {#                                            <a href="?page={{ item }} ">{{ item }}</a> #}
                                {#                                        </li> #}
                                {#                                    {% endfor %} #}
                                {#                                </ul> #}
                            </div>
                        </div>
                    {% endif %}
                </div>


            </div>
        </form>
    </div>
{% endblock %}
