{% extends 'base.html.twig' %}

{% block title %}MegaCasting{% endblock %}


{% block body %}
    <div class="container">
        <div class="d-flex row">
            <div class="d-flex flex-row align-items-center rounded-3 mt-5 w-100 row-cols-2"
                 style="border: 1px solid white; background-color: white; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
                <div class="d-flex col">
                    <img src="img/istockphoto-511459774-612x612.jpg" class="w-100 rounded-3"
                         alt="...">
                </div>
                <div class="d-flex flex-column col w-25" style="margin-left: 100px">
                    <h1>{{ casting.nom|upper }}</h1>
                    <p>Référence: {{ casting.reference }}</p>
                    <p>Domaine: {{ casting.getMetier().getDomaine().nom }}</p>
                    <p>Métier: {{ casting.getMetier().nom }}</p>
                    <p>Contrat: {{ casting.getTypeContrat().nomContrat }}</p>
                    <p>Organisation: {{ casting.getOrganisation().nom }}</p>
                    <p>Adresse de l'organisation: {{ casting.getOrganisation().adresse }}</p>
                    <p>Numéro de téléphone: {{ casting.getOrganisation().numeroTelephone }}</p>
                    <p>Adresse email: {{ casting.getOrganisation().adresseEmail }}</p>
                </div>
                <div class="col d-flex flex-column align-items-center" style="width: 20%">
                    <h4>Postuler !</h4>
                    <a class="btn btn-outline-success w-50" href="{{ path('postuler', {'id': casting.identifiant}) }}">Postuler</a>
                </div>

            </div>
        </div>
    </div>
    </div>
{% endblock %}
